<section class="news-container">
  <article class="news-article news-article__first">
    <img src="https://play-lh.googleusercontent.com/QvTfA5WH0B4X04u_sxSBdb-PlO7Wj6yjeyJVzwoyUsefJPTXDE75QBKKJr1fyI5CHQq9" />
    <h3 class="news-article__title">Title</h3>
    <p class="news-article__description">Description</p>
  </article>
  <article class="news-article news-article--valid">
    <img src="https://play-lh.googleusercontent.com/QvTfA5WH0B4X04u_sxSBdb-PlO7Wj6yjeyJVzwoyUsefJPTXDE75QBKKJr1fyI5CHQq9" />
    <h3 class="news-article__title">Title</h3>
    <p class="news-article__description">Description</p>
    <span>Valid</span>
  </article>
  <article class="news-article">
    <img src="https://play-lh.googleusercontent.com/QvTfA5WH0B4X04u_sxSBdb-PlO7Wj6yjeyJVzwoyUsefJPTXDE75QBKKJr1fyI5CHQq9" />
    <h3 class="news-article__title">Title</h3>
    <p class="news-article__description">Description</p>
  </article>
  <article class="news-article">
    <h3 class="news-article__title">Title</h3>
    <p class="news-article__description">Description</p>
  </article>
  <article class="news-article">
    <img src="https://play-lh.googleusercontent.com/QvTfA5WH0B4X04u_sxSBdb-PlO7Wj6yjeyJVzwoyUsefJPTXDE75QBKKJr1fyI5CHQq9" />
    <h3 class="news-article__title">Title</h3>
    <p class="news-article__description">Description</p>
  </article>
  <article class="news-article news-article--valid">
    <img src="https://play-lh.googleusercontent.com/QvTfA5WH0B4X04u_sxSBdb-PlO7Wj6yjeyJVzwoyUsefJPTXDE75QBKKJr1fyI5CHQq9" />
    <h3 class="news-article__title">Title</h3>
    <p class="news-article__description">Description</p>
    <span>Valid</span>
  </article>
  <article class="news-article">
    <img src="https://play-lh.googleusercontent.com/QvTfA5WH0B4X04u_sxSBdb-PlO7Wj6yjeyJVzwoyUsefJPTXDE75QBKKJr1fyI5CHQq9" />
    <h3 class="news-article__title">Title</h3>
    <p class="news-article__description">Description</p>
  </article>
</section>
